@font-face{
	font-family: 'FORTNITE BATTLEFEST', cursive;
	src: url("..fonts/16847.ttf");
}
*{
	margin: 0px;
	padding: 0;
	box-sizing: border-box;
}
html, body, header{
height: 100%;
}
html{
	font-size: 12px;
	font-family: 'FORTNITE BATTLEFEST', cursive;
}
.nav-wrapper{
	/*position: absolute;*/
	height: 55px;
	display: flex;
	padding: 0 100px;
	width: 100%;
	margin: auto;
	max-width: 1400px;
	align-items: center;
	justify-content: space-between;
}
.top-nav{
	display:flex;
	justify-content: space-between;
	width: 85%; 
	align-items: center;
	background-color:white;
}
.link{
	text-decoration: none;
	color: black;
	display: inline;
	font-size: 1.8rem;
	padding: 10px 5px;
}
.logo{
	font-size: 1.8rem;
	font-weight: bold;
	text-align: center;
	width: 150px;
}
.link+.link{
	margin-left: 3%;
}
.search{
	background-image: url(../img/search.png);
	background-position: 0px center;
	background-repeat: no-repeat;
	background-size: 16px 16px;
	border: none;
	outline: none;
	padding-left:20px;
	font-weight: 600;
	letter-spacing: 0.50px;
	width: 100%;
	padding-bottom: 3px;
	transition: 0.3s ease-in;
}
.search:focus{
	border-bottom: 1px solid;
}
.search-wrapper{
	width: 12%;
	margin-left: 5px;
}

.header{
	background-image: url(../img/2.png);
background-repeat: no-repeat;
background-size: cover;
position: relative;
display: flex;
justify-content: center;
align-items: center;
color: white;
}

.header:after{
	content: '';
	position: absolute;
	width: 100%;
	height:100%;
	top: 0;
	left:0;
	bottom: 0;
	right:0;
	background-color: rgba(0, 0, 0, 0.5);
}

.header>.box{
	z-index: 1;
	text-align:center;
}

.h1{
	font-size: 5rem;
	letter-spacing: 2px;
}

.subtitle{
	font-size:1.6rem
}
.header-btn, .readmore {
	border: none;
	width: 200px;
    height: 60px;
    font-size: 1.6rem;
    display: inline-block;
    margin-top: 40px;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.3s ease-in;
}

.header-btn+.header-btn{
	margin-left: 20px;
} 
.readmore{
	color: black;
	border: 2px solid;
	width: 100%;
}
.trsprnt{
	border: 2px solid;
	background-color: transparent;
	animation: 
}

.green{
	background-color: #00397b;  
}

.green:hover{
	border: 2px solid;
	background-color: transparent; 
}

.trsprnt:hover{
		background-color: #00397b; 
		border: 0px;
}

.link:hover{
	background-color: black;
	color: white;
}

/*Второй экран*/
.h2{
	font-size: 4rem;
	margin-bottom: 2rem;
	letter-spacing: 1px;
}
.section-subtitle{
	font-size: 1.4rem;
	font-weight: 400;
	max-width: 700px;
	margin:auto;
	letter-spacing: 0.6px;
}

.first-box{
	display: flex;
	justify-content: center;
	max-width: 1200px;
	margin: auto;
	justify-content: space-between;
	margin-top:120px; 
}

.first-item{
	width: 30%
}
.h3{
	font-size: 2rem;
	margin: 2.5rem 0;
	letter-spacing: 0.7px;
}

.icon{
	display: block;
	width: 80px;
	margin: auto;
	transition: 0.5s ease-in;
}

.h2, .h3{
	text-align: center;
}

/*Третий экран*/

.second{
	background-color: #e4fdf9
}

.second-item{
	width: calc(100% / 3 - 2%);
	background-color: #fff;
	margin: 1%;
	padding: 6% 2%;
	transition: 0.3s ease-in;
}
.second-item:hover{
	background-color: #00897b;
	color:#fff;
	transform: scale(1.05);
	box-shadow: 0 0 40px 5px rgba(0, 0, 0, 0.3);
}

.second-item:hover .readmore{
    border-color: #fff;
    color: #fff;
    background-color: #00897b;
}

.second-box{
	flex-wrap: wrap;
	justify-content: space-between;
	max-width: 1200px;
}

.second-item:hover .icon{
	fill:#fff;
}

.copyright{
	width: 100%;
	font-size: 2rem;
	text-align: center;
}
.copyright:hover{
background-color: black;
}































































































